.footer {
  padding: 60px 0;
  background-color: $hero-bg-color;

  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__address {
    font-style: normal;
    color: $primary-white-color;
    margin-top: 20px;

    &-item:not(:last-child) {
      margin-bottom: 9px;
    }
    &-link {
      font-size: 14px;
      line-height: 1.71;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);

      &--colored {
        color: $primary-white-color;
      }
    }
  }
  &__message {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $primary-white-color;
  }

  &__social-block {
    padding-top: 12px;
  }
  &__social-networks {
    display: flex;

    &-item {
      width: 44px;
      height: 44px;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $primary-white-color;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color $timing-function;

      &:hover,
      &:focus {
        background-color: $accent-color;
      }
    }
  }
  &__sign-up-block {
    padding-top: 12px;
  }
  &__input {
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    background-color: inherit;
  }
  &__button-text {
    margin-right: 10px;
  }
}
