/* Hero */
.hero {
  text-align: center;

  &__overlay {
    // width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/overlay-new.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: inherit;

    @media screen and (max-width: 767px) {
      width: 480px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: 768px;
    }

    @media screen and (min-width: $desktop) {
      max-width: 1600px;
      height: 600px;
      padding: 200px 0;
    }
  }
  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    color: $primary-white-color;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
